# ignore all bin directories
# matches "bin" in any subfolder
bin/

# matches "build" in any subfolder
build/

# ignore all target directories
target/

# ignore all out directories
out/

# ignore all files ending with ~
*~
*.~*

# ignore all files in cache folder
__pycache__
venv

#ignore other files
*.dot
*.pyc
*.o
*.d
*.so
*.vpi
*.log
*.icarus
*.vvp
*.out
*.vcd
*.tags*
*.Debug
*.Release
*.t2d
*.pro.user*
*Makefile*
bin2hex
bin2mem

#design compiler files 
*.svf
*.mr
*.pvl
*.syn
*.ddc
*.sdc
*.spef

#directories 
.Trashes/
rpt/

#tech file 
tsmc*
